
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-cancel-circled:before { content: '\e801'; } /* '' */
.icon-cw:before { content: '\e802'; } /* '' */
.icon-home:before { content: '\e803'; } /* '' */
.icon-home-1:before { content: '\e804'; } /* '' */
.icon-floppy:before { content: '\e805'; } /* '' */
.icon-floppy-1:before { content: '\e806'; } /* '' */
.icon-print:before { content: '\e807'; } /* '' */
.icon-print-1:before { content: '\e808'; } /* '' */
.icon-trash-empty:before { content: '\e809'; } /* '' */
.icon-trash:before { content: '\e80a'; } /* '' */
.icon-error:before { content: '\e80b'; } /* '' */
.icon-ok:before { content: '\e80c'; } /* '' */
.icon-ok-circled:before { content: '\e80d'; } /* '' */
.icon-right:before { content: '\e80e'; } /* '' */
.icon-left:before { content: '\e80f'; } /* '' */
.icon-info-1:before { content: '\e810'; } /* '' */
.icon-down-open-mini:before { content: '\e811'; } /* '' */
.icon-down-open:before { content: '\e812'; } /* '' */
.icon-up-open:before { content: '\e813'; } /* '' */
.icon-up-open-mini:before { content: '\e814'; } /* '' */
.icon-down-open-big:before { content: '\e815'; } /* '' */
.icon-up-open-big:before { content: '\e816'; } /* '' */
.icon-down-open-2:before { content: '\e817'; } /* '' */
.icon-up-open-2:before { content: '\e818'; } /* '' */
.icon-left-dir:before { content: '\e819'; } /* '' */
.icon-right-dir:before { content: '\e81a'; } /* '' */
.icon-right-open:before { content: '\e81b'; } /* '' */
.icon-left-open:before { content: '\e81c'; } /* '' */
.icon-left-circle:before { content: '\e81d'; } /* '' */
.icon-right-circle:before { content: '\e81e'; } /* '' */
.icon-login:before { content: '\e81f'; } /* '' */
.icon-login-1:before { content: '\e820'; } /* '' */
.icon-heart:before { content: '\e821'; } /* '' */
.icon-search-1:before { content: '\e822'; } /* '' */
.icon-logout:before { content: '\e823'; } /* '' */
.icon-level-up:before { content: '\e824'; } /* '' */
.icon-mobile:before { content: '\e825'; } /* '' */
.icon-down-open-1:before { content: '\f004'; } /* '' */
.icon-up-open-1:before { content: '\f005'; } /* '' */
.icon-download-1:before { content: '\f02e'; } /* '' */
.icon-upload-1:before { content: '\f02f'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */