@media screen and (max-width:799px) {
    
    
    
    body, header, h2, section.join, footer {
        background: black;
    }
    
    
    
    
    header {
        height: 200px;
    }

    header.shrink { 
        height: 50px;
    }
    
    header.shrink img {
        width: 50px;
        height: auto;
    }
    
    header span.break {
        display: block;
    }
    
    section {
        width: 100%;
    }
    
    .wrapper {
        width: 100%;
    }
    
    section.intro p {
        width: 90%;
    }
        
    .more-container {
        display: inline;
    }
    
    
    
    .icons-container {
        display: block;
        width: 90%;
        margin: 0 auto;
    }

    .tooltip {
        margin: 0 20px 20px 0;
    }
    
    .tooltip, .tooltip img {
        display: block;
    }
    
    .tooltip img {
        float: left;
        transform: scale(.8);
    }

    .tooltip .tooltiptext {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
        display: block;
        position: relative;
        float: right;
        width: 65%;
    }
    
    
    
    
    #placeholder-dynmap {
        width: 90%;
        display: block;
        height: 214px;
        background:#333;
        color:#1a1a1a;
        font-family: 'Rajdhani-SemiBold', sans-serif;
        font-size:30pt;
        text-align: center;
        margin: 20px auto
    }
    
    .video-container {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
        margin-bottom: 10%;
    }
    
    .video-container iframe {
        position: absolute;
        top: 0;
        left: 5%;
        width: 90%;
        height: 100%;
        display: block;
        margin: 20px auto;
    }

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    footer a {
        width: 100%;
        margin: 10px 0;
    }
    
    footer span {
        display: none;
    }
    
    footer a, footer p  {
        display: block;
        text-align: center;
    }

    .left, .right {
        float: none;
    }
    
}