@media screen and (min-width:1000px) {

    .mobile-only, nav .fa-chevron-right {
        display: none;
    }

    header img#logo {
        height: 130px;
        width: 380px;
        top: 60px;
        left: 8%;
    }

    .mySlides::after {
        background-image: linear-gradient(135deg, rgba(0,0,0,.4) 20%, transparent 50%, transparent 80%, rgba(0,0,0,.4) 100%), linear-gradient(0deg, rgba(0,0,0,.6) 0%, transparent 5%, transparent 80%, rgba(0,0,0,.3) 100%);
    }

    .mySlides, .header-height {
        height: 400px;
    }

    header .banner {
        position: absolute;
        z-index: 99;
        right: 17.5%;
        top: 200px;
    }

    main p, main ul {
        width: 80%;
    }

/* ############### nav ###############*/

nav ul {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    text-align: center;
    padding: 15px;
}

nav li#join, nav li#nav-login {
    pointer-events: none;
}

nav li#join:hover, nav li#nav-login:hover {
    transform: scale(1.1);
}

nav li#join:hover a, nav li#nav-login:hover a {
    box-shadow: 0px 0px 0px 3px #00515c;
}

/* --- dropdown menu --- */
nav li { position: relative; }

nav ul ul {
    display: inline;
    position: absolute;
    top: 100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    background: #00515c;
    width: 300px;
    -webkit-transform:perspective(400) rotate3d(1,0,0,-90deg);
    -webkit-transform-origin:50% 0;
    -webkit-transition:.3s;
    -moz-transition:.3s
    -o-transition:.3s;
    transition:.3s;
}

nav ul ul li {
    display: block;
    text-align: left;
    padding: 10px 0px 10px 20px;
    font-size: 16pt;
}

nav ul ul li i.fa-chevron-right {
    font-size: 12pt;
    opacity: 0;
    visibility: hidden;
}

nav ul ul li:hover {
    background: #007787;
}

nav ul li:hover > ul {
    visibility: visible;
    opacity: 1;
    -webkit-transform:perspective(400) rotate3d(0,0,0,0);
}

nav ul ul li:hover > i {
    visibility: visible;
    opacity: 1;
}


/* #########################################*/

/* ############### main ###############*/

    .wrapper {
        width: 880px;
        margin: 0 auto;
    }

    main {
        width: 1000px;
        margin: 30px auto;
    }

    .wrapper.content {
        background: white;
        padding: 15px 30px 30px 30px;
    }

/* #########################################*/

/* ############### join us ###############*/

    #app-form, #contact-form {
        width: 50%;
    }

/* #########################################*/

/* ############### our team, member stats ###############*/

.team-profile {
    display: table;
    margin: 50px 0;
    background-image: linear-gradient(to right, transparent 5% , #007787 40%);
    border-right: 5px solid #00515c;
    width: 80%;
}

.member-profile {
    display: table;
    margin: 50px 0;
    background-image: linear-gradient(to right, transparent 5% , #f0f0f0 40%);
    border-right: 5px solid #b8b8b8;
    width: 100%;
}

.team-profile .avatar, .team-profile .tasks,
.team-profile .person {
    display: table-cell;
    vertical-align: top;
}

.member-profile .avatar,
.member-profile .person {
    display: table-cell;
    vertical-align: bottom;
}
.member-profile .stats {
    display: table-cell;
    vertical-align: middle;
    width: 500px;
}

/* ################### zoom & pan feature ###################*/

.toggle_controls {
  display: flex;
  justify-content: space-around;
}
