footer {
    background: #343838;
    color: white;
    font-family: "regular", sans-serif;
    font-size: 12pt;
    padding: 5px 0;
    position: relative;
}

footer::before {
    content: "";
    border-style: solid;
    border-width: 0 0 20px 30px;
    border-color: transparent transparent #222424 transparent;
    position: absolute;
    left: 0px;
    bottom: 100%;
}

footer::after {
    content: "";
    border-style: solid;
    border-width: 20px 0px 0px 30px;
    border-color: transparent transparent transparent #222424;
    position: absolute;
    right: 0px;
    bottom: 100%;
}

footer a {
    color: white;
    padding-left: 20px;
}

footer span,
footer a:hover {
    color: #b8b8b8;
}

footer i {
    font-size: 10pt;
}
