* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition-duration: .3s;
    list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

::selection {
    background: #00515c;
    color: #fff;
}

::-moz-selection {
    background: #00515c;
    color: #fff;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #e9e9e9;
}

::-webkit-scrollbar-thumb {
    background: #333;
}

::-webkit-scrollbar-thumb:hover {
    background: #030303;
}

@font-face {
    font-family: "semibold";
    src: url("../fonts/TitilliumWeb-SemiBold.ttf");
}

@font-face {
    font-family: "regular";
    src: url("../fonts/TitilliumWeb-Regular.ttf");
}

body {
    background: #f0f0f0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

button:focus {
    outline: none;
}

.visible {
    opacity: 1;
    visibility: visible;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.margin-top-20 {
  margin-top: 20px;
}

iframe {
  border: none;
}

img {
  max-width: 100%;
}

/* ############### header ###############*/
header {
    width: 100%;
    margin: 0 auto;
    position: relative;
    border-top: 10px solid #343838;
}

header img#logo {
    position: absolute;
    z-index: 1;
}

header img#logo:hover {
    opacity: .5;
    transform: scale(.9);
}

header .banner, .players {
    font-family: "semibold", sans-serif;
}

.banner .headline {
    background: white;
    color: #007787;
    margin-left: -30px;
    font-size: 20pt;
    padding: 3px 15px;
    display: inline-block;
    height: 40px;
}

.banner .headline:before {
    content: "";
    border-style: solid;
    border-width: 0 30px 30px 0;
    border-color: transparent #b8b8b8 transparent transparent;
    position: absolute;
    left: -30px;
    top: 46px;
}

.banner .ip {
    background: #007787;
    color: white;
    padding: 5px 15px;
    font-size: 24pt;
    text-shadow: 1px 3px 0px #00515c;
    cursor: pointer;
}



.players {
    background: #00515c;
    color: white;
    padding: 3px 0;
    font-size: 12pt;
    text-align: center;
}

.banner .version {
    background: #343838;
    color: white;
    font-family: "regular", sans-serif;
    font-size: 10pt;
    padding: 3px 10px;
}

.banner .version a {
    float: right;
    color: white;
    font-family: "regular", sans-serif;
    font-size: 10pt;
}

.banner .version a:hover {
    color: #bebebe;
}

.mySlides {
    opacity: 0;
    width: 100%;
    overflow: hidden;
    position: absolute;
    transition-duration: 3s;
    text-align: center;
}

.mySlides img {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.mySlides::after {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 180px;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    text-shadow: 0px 0px 3px black;
    font-weight: bold;
    font-size: 30px;
    transition: .3s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 150px;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
}

.prev {
    left: 150px;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
}

.prev:hover,
.next:hover {
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.8);
}

.dots {
    text-align: center;
    position: relative;
    margin-top: -30px;
    margin-bottom: 12px;
}

.dot {
    z-index: 1;
    cursor: pointer;
    height: 5px;
    width: 150px;
    margin: 0 2px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 3px black;
    display: inline-block;
    transition: .3s ease;
    border-radius: 50px;
}

.active,
.dot:hover {
    background-color: rgba(255, 255, 255, 0.7);
}


header:hover > a.next {
    right: 30px;
    opacity: .3;
    visibility: visible;
}

header:hover > a.prev {
    left: 30px;
    opacity: .3;
    visibility: visible;
}

header:hover ~ .dots .dot {
    padding-top: 5px;
}

.dot:hover {
    padding-top: 5px;
}

/* #########################################*/

/* ################### nav ###################*/

nav {
    background: #007787;
    font-family: "semibold", sans-serif;
    position: relative;
    z-index: 999;
    border-bottom: 2px solid #00515c;
}

nav ul li {
    color: white;
    font-size: 18pt;
}

nav ul li:hover {
    background: #00515c;
}

nav ul li#join:hover, nav ul li#nav-login:hover {
    background: transparent;
}

nav ul li a {
    color: white;
    text-shadow: 1px 2px 0px #00515c;
}

nav ul li i {
    color: #60aeb8;
    font-size: 15pt;
    padding-right: 5px;
}

nav i.fa-scroll {
    font-size: 13pt;
}

nav li#join a, nav li#nav-login a {
    padding: 3px 20px;
    border-radius: 100px;
    pointer-events: auto;
    text-shadow: none;
}

nav li#join a {
    background: white;
    color: #007787;
}

nav li#nav-login a {
    background: #60aeb8;
    color: #00515c;
}

nav li#nav-login i {
    color: #007787;
}

/* #########################################*/

/* ################### main ###################*/

main h1 {
    background: #007787;
    color: white;
    font-family: "semibold", sans-serif;
    text-shadow: 1px 2px 0px #00515c;
    padding: 5px 0;
    font-size: 18pt;
    position: relative;
}

main h2 {
    color: #007787;
    font-family: "semibold", sans-serif;
    font-size: 18pt;
}

main h3 {
    color: #007787;
    font-family: "semibold", sans-serif;
    font-size: 14pt;
}

main p,
main ul {
    font-family: "regular", sans-serif;
    font-size: 12pt;
    line-height: 1.3;
    color: #222424;
}

main h1::before {
    content: "";
    border-style: solid;
    border-width: 0 30px 20px 0;
    border-color: transparent #00515c transparent transparent;
    position: absolute;
    left: 0px;
    top: 100%;
}

main h1::after {
    content: "";
    border-style: solid;
    border-width: 20px 30px 0px 0;
    border-color: #00515c transparent transparent transparent;
    position: absolute;
    right: 0px;
    top: 100%;
}

main a {
    color: #007787;
    font-family: "regular", sans-serif;
}

main a:hover {
    color: #00515c;
}

footer {
    background: #343838;
    color: white;
    font-family: "regular", sans-serif;
    font-size: 12pt;
    padding: 5px 0;
    position: relative;
}

footer::before {
    content: "";
    border-style: solid;
    border-width: 0 0 20px 30px;
    border-color: transparent transparent #222424 transparent;
    position: absolute;
    left: 0px;
    bottom: 100%;
}

footer::after {
    content: "";
    border-style: solid;
    border-width: 20px 0px 0px 30px;
    border-color: transparent transparent transparent #222424;
    position: absolute;
    right: 0px;
    bottom: 100%;
}

footer a {
    color: white;
    padding-left: 20px;
}

footer span,
footer a:hover {
    color: #b8b8b8;
}

footer i {
    font-size: 10pt;

}

/* #########################################*/

/* ################### news articles + rules ###################*/

article {
    margin: 30px 0;
}

article h2 {
    background: #007787;
    color: white;
    padding: 2px 10px;
    display: inline-block;
    text-shadow: 1px 2px 0px #00515c;
}

span.subtitle {
    font-family: "regular", sans-serif;
    display: block;
    background: #343838;
    color: white;
    font-size: 10pt;
    padding: 3px 10px;
}

img.author {
    width: 80px;
    height: auto;
    float: right;
    margin: -7px 50px 10px 0;
    box-shadow: 0px 0px 40px rgba(255, 255, 255, .5);
}

article section {
    border-left: 5px solid #343838;
    padding: 10px 0 10px 20px;
}

article h3 {
    margin-top: 10px;
}

article.news p:first-of-type::first-letter, p.initial-letter:first-of-type::first-letter {
    color: #007787;
    font-weight: bold;
    font-size: 270%;
    float: left;
    line-height: 40px;
    padding-right: 3px;
}

article .article-img {
    display: inline;
    float: right;
    box-shadow: 0px 0px 5px rgba(52, 56, 56, .5);
    margin: 10px 0 10px 10px;
}

article .article-img img {
    vertical-align: bottom;
    width: 250px;
    max-width: 100%;
}

.article-img.big img {
    width: 500px;
    max-width: 100%;
}

/* #########################################*/

/* ################### rules ###################*/

hr {
    border-top: 2px solid #bebebe;
    border-bottom: none;
    margin-bottom: 5px;
    width: 100%;
}

ul.rules li {
    margin: 10px 0;
}

ul.rules li::before {
    content: "▪";
    color: #007787;
    padding-right: 5px;
}

/* #########################################*/

/* ################### members ###################*/

button {
    background: #007787;
    border: 1px solid #00515c;
    color: white;
    font-family: "semibold", sans-serif;
    font-size: 13pt;
    cursor: pointer;
    padding: 2px 15px;
    margin-top: 10px;
}

button.secondary {
  background: white;
  color: #343838;
  border: 1px solid #bebebe;
}

button.secondary:hover {
  background: #bebebe;
}

button.hover-right i {
    font-size: 10pt;
    margin-left: 5px;
}

button.hover-left i {
    font-size: 10pt;
    margin-right: 5px;
}

button:hover {
    background: #00515c;
}

button.hover-right:hover > i {
    margin-left: 10px;
}

button.hover-left:hover > i {
    margin-right: 10px;
}

.lesspadding section {
    padding: 0 0 0 2px;
}

input#searchmember {
    width: 100%;
}

ul.members {
    width: 100%;
}

.flip-card span {
    display: block;
    padding: 3px 0;
}

.flip-card .ign {
    background: #007787;
    color: white;
    font-family: "semibold", sans-serif;
    padding: 5px;
    margin-bottom: 15px;
    word-break: break-all;
}

.flip-card {
    background-color: transparent;
    width: 180px;
    height: 210px;
    perspective: 1000px;
    padding: 19px;
    float: left;
}

.flip-card img {
    width: 160px;
    height: auto;
    vertical-align: bottom;
    margin-top: 10px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #e9e9e9;
    color: black;
}

.flip-card-back {
    background-color: #e9e9e9;
    transform: rotateY(180deg);
}









/* #########################################*/

/* ################### join us ###################*/

#app-form,
#contact-form {
    background: #f0f0f0;
    padding: 30px;
    margin: 10px 0 0 0;
}

.group {
    position: relative;
    margin-bottom: 20px;
    width: 95%;
}

input {
    padding: 10px 0px 5px 5px;
    border: none;
    border-bottom: 1px solid #bebebe;
    width: 100%;
    font-family: "regular", sans-serif;
    font-size: 12pt;
    background: #f0f0f0;
    color: #222424;
}

input:focus::placeholder,
textarea:focus::placeholder {
    color: #007787;
}

textarea:focus {
    border: 1px solid #007787;
}

input[type="file"] {
    border: none;
}

input:focus {
    outline: none;
}

/* floating input labels */
label {
    position: absolute;
    top: -5px;
    left: 0;
    font-size: 14px;
    color: #aaa;
    opacity: 0;
    font-family: "semibold", sans-serif;
}

/* exception: label for autofill */
label.container {
    position: relative;
    opacity: 1;
    font-size: 12pt;
    color: #1a1a1a;
    font-weight: normal;
}

label.on {
    color: #007787;
}

label.show {
    top: -10px;
    opacity: 1;
}


.search {
    margin: 20px 0 30px 0;
    display: flex;
    width: 100%;
}

.search .searchicon {
    background: #007787;
    color: white;
    padding: 10px;
    float: left;
    width: 15px;
    text-align: center;
}

.search input {
    width: 100%;
    margin: 0;
    border-width: 1px 1px 1px 0px;
    border-color: #bebebe;
    border-style: solid;
    padding: 5px 0px 5px 5px;
}

.search input:focus {
    border-color: #007787;
}

.search .icon-search {
    display: block;
}

.search #cancel {
    display: none;
    cursor: pointer;
}

.search #cancel:hover {
    background: #60aeb8;
}

/* input bottom bars */

.bar {
    position: relative;
    display: block;
    width: 50%;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #007787;
    transition: 0.2s ease all;
}

#loginForm .bar:before,
#loginForm .bar:after {
    bottom: 0px;
}

.bar:before {
    left: 100%;
}

.bar:after {
    right: 0%;
}


/* active state */

input:focus ~ .bar:before,
input:focus ~ .bar:after {
    width: 100%;
}

/* padding: (5px padding)/2 */
.bar {
    padding-right: 2.5px;
}

.textbox {
    margin: 15px 0;
    width: 95%;
}

#app-form h3 {
    position: relative;
    margin-bottom: 5px;
}

textarea {
    resize: vertical;
    outline: none;
    border: 1px solid #bebebe;
    font-family: "regular";
    font-size: 12pt;
    padding: 5px;
    width: 100%;
    height: 150px;
    box-sizing: border-box;
}

.tooltip {
    position: absolute;
    top: 30%;
    right: -35px;
    color: #007787;
    font-size: 14pt;
    cursor: pointer;
}

.tooltip2 {
    color: #007787;
    font-size: 14pt;
    cursor: pointer;
    margin-left: 5px;
}

.tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: #222424;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: -50%;
    left: 200%;
    font-size: 11pt;
    font-family: "regular", sans-serif;
    cursor: default;
    transition: visibility .5s, opacity .5s;
    visibility: hidden;
    opacity: 0;
}

.tooltip2 .tooltiptext {
    position: absolute;
    top: 130%;
    left: 0%;
    font-weight: normal;
}

.tooltip2#copyip .tooltiptext {
    top: 5%;
    left: 20%;
    text-align: center;
    width: 150px;
    padding: 5px;
}

.tooltip2#copyip .tooltiptext::after {
    border-color: #222424 transparent transparent transparent;
    top: 130%;
    left: 50%;
}

.tooltip2 .tooltiptext::after {
    border-color: transparent transparent #222424 transparent;
    top: 0%;
    left: 10%;
    margin-top: -10px;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #222424 transparent transparent;
}

.tooltip:hover .tooltiptext,
.tooltip2:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

::placeholder {
    color: #777;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #777;
    opacity: 1;
}

p#auth-explanation {
  margin-top: 10px;
}

























/* custom design of dropdown selection */

.ui-autocomplete {
    padding: 0;
    list-style: none;
    background-color: #f0f0f0;
    width: 200px;
    max-height: 250px;
    overflow-x: hidden;
    font-family: "regular", sans-serif;
    font-size: 12pt;
    box-shadow: 0px 5px 10px #b8b8b8;
}

.ui-autocomplete .ui-menu-item {
    border-top: 1px solid #bebebe;
    display: block;
    padding: 8px 15px;
    color: #222424;
    cursor: pointer;
}

.ui-autocomplete .ui-menu-item:first-child {
    border-top: none;
}

.ui-autocomplete .ui-menu-item.ui-state-focus {
    background-color: #e9e9e9;
}




.custom-select {
    position: relative;
    font-family: "regular", sans-serif;
    font-size: 12pt;
    margin-top: 7px;
}

.custom-select.membersorting {
    width: 300px;
    max-width: 100%;
}


.custom-select select {
    display: none;
    /*hide original SELECT element:*/
}

.select-selected:hover {
    background-color: #f0f0f0;
}

/*style the arrow inside the select element:*/
.select-selected::after {
    font-family: "Font Awesome 5 Pro", "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f078";
    position: absolute;
    right: 10px;
    top: 11px;
    font-size: 18px;
    color: #777;
    transition: .3s;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    transform: rotate(180deg);
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
    padding: 8px 15px;
    border: 1px solid transparent;
    border-color: transparent transparent #bebebe transparent;
    cursor: pointer;
    user-select: none;
}

.select-selected {
    color: #777;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: #f0f0f0;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    max-height: 250px;
    overflow-y: scroll;
    box-shadow: 0px 5px 10px #b8b8b8;
    color: #222424;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover {
    background-color: #e9e9e9;
}

::-webkit-file-upload-button {
    background: white;
    color: #777;
    padding: 3px 15px;
    font-family: "semibold", sans-serif;
    font-size: 12pt;
    border: 1px solid #bebebe;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

::-webkit-file-upload-button:hover {
    background: #f0f0f0;
}

button[id="submit"] {
    background: #007787;
    border: 2px solid #00515c;
    color: white;
    font-family: "semibold", sans-serif;
    font-size: 15pt;
    cursor: pointer;
    padding: 3px 20px;
    width: 100%;
}

button[id="submit"]:disabled, button[id="submit"]:disabled:hover {
    background: #b8b8b8;
    border-color: #777;
}

button[id="submit"] i {
    font-size: 12pt;
    margin-right: 7px;
}

button[id="submit"]:hover {
    background: #00515c;
}

/* custom checkbox */

/* The container */
.container {
    display: block;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 20px 0 10px 0;
}

.container .label {
    font-family: "regular", sans-serif;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #e9e9e9;
    border: 1px solid #bebebe;
    border-radius: 7px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #bebebe;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #007787;
    border-color: #00515c;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* #########################################*/

/* ################### contact us ###################*/

#contact-form {
    margin-top: 20px;
}

/* #########################################*/

/* ################### our team, member stats ###################*/

.member-list-wrapper {
  width: 100%;
  display: flex;
  flex-flow: wrap;
}

.member-card-wrapper{
    display: flex;
    width: 380px;
    max-width: 100%;
    padding: 10px 0 10px 20px;
    background: linear-gradient(180deg, rgba(240,240,240,0) 15%, rgba(240,240,240,1) 15%, rgba(240,240,240,1) 85%, rgba(240,240,240,0) 85%);
    margin: 0 40px 20px 0;
    cursor: pointer;
}

.member-card-wrapper:hover {
  transform: scale(.9);
  opacity: .75;
}

.member-card-description {
    width: 70%;
    padding: 55px 0 0 30px;
}

.member-card-image {
    float: left;
    width: 30%;
    height: auto;
    vertical-align: top;
    filter: drop-shadow(5px 2px 4px rgba(0, 0, 0, .3));
    -webkit-filter: drop-shadow(5px 2px 4px rgba(0, 0, 0, .3));
}

.member-card-description h2 {
    background: #007787;
    color: white;
    padding: 3px 0px 3px 15px;
    text-shadow: 1px 2px 0px #00515c;
    border-right: 4px solid rgba(0,0,0,0.15);
    overflow-x: hidden;
}

.member-card-description h3 {
    background: #00515c;
    color: white;
    padding: 3px 0px 3px 15px;
    border-right: 4px solid rgba(0,0,0,0.15);
    font-size: 12pt;
    word-break: break-all;
}

.member-card-infos {
  margin-left: 15px;
  margin-top: -5px;
}

.description, .value{
    display: inline;
}

.description{
    color: #007787;
}

.description{
    font-family: "semibold", sans-serif;
}

.team-profile .tasks {
    width: 30%;
    padding: 20px 0;
}

.team-profile .person {
    width: 35%;
    padding: 20px;
}

.member-profile .person {
    width: 150px;
    padding: 20px;
}

.member-profile .person p {
    font-family: "semibold", sans-serif;
    color: #7d7d7d;
}

.member-profile .counter {
    margin: 5px 0px;
    width: 160px;
}

.member-profile .counter p {
    font-size: 20pt;
}

/* world map */
#map-container  {
    margin-top: 10px;
}

#map-container svg {
  position:fixed; top:0; left:0; height:100%; width:100%;
}




/* #########################################*/

/* ################### statistics ###################*/
.counter {
    width: 150px;
    float: left;
    margin: 20px 30px 0 0;
    text-align: center;
}

.counter h2 {
    color: white;
    background: #00515c;
    font-size: 12pt;
    width: 100%;
    padding: 3px 0;
}

.counter p {
    background: #007787;
    color: white;
    font-family: "semibold", sans-serif;
    width: 100%;
    font-size: 30pt;
    text-shadow: 1px 3px 0px #00515c;
    padding: 3px 0;
    word-break: break-all;
}

.counter-horizontal {
  text-align: left;
  width: auto;
}

.counter-horizontal h2, .counter-horizontal p {
  display: inline;
  font-size: 12pt!important;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 2;
  word-break: normal;
}

.counter-horizontal p {
  text-shadow: 1px 1px 0px #00515c;
  padding-left: 10px;
  padding-right: 10px;
}


#vmap {
    width: 100%;
    height: 500px;
}

.country-ranking {
    margin: 20px;
    padding-bottom: 20px;
}

.country {
    background: #007787;
    margin: 10px;
    padding: 10px 20px 10px 10px;
    width: 227px;
    border-bottom: 3px solid #00515c;
    float: left;
}

.country:hover {
    cursor: pointer;
    background: #00515c;
}

.country .flag {
    margin-top: 2px;
    margin-right: 10px;
}

.country span {
    color: white;
    font-family: "semibold", sans-serif;
    font-size: 12pt;
    float: left;

}

.country .member-amount {
    float: right;
}


/* #########################################*/

/* ################### interface ###################*/
    #applicant-list {
        width: 100%;
        overflow-x: auto;
        margin-top: 20px;
    }

    .interface-table {
        font-family: "regular", sans-serif;
        border-collapse: separate;
        border-spacing: 0px;
        width: 100%;
        white-space: nowrap;
    }

    .interface-table button {
        padding: 2px 10px 2px 15px;
        margin: 5px 0;
    }

    .interface-table i {
        margin-left: 10px;
    }

    .interface-table button:hover > i {
        margin-left: 15px;
    }

    .interface-table td {
        padding: 3px 10px;
        background: #e9e9e9;
        font-size: 12pt;
        text-overflow: ellipsis;
        white-space: inherit;
        overflow: hidden;
        color: #222424;
        max-width: 150px;
        text-align: center;
    }

    .interface-table th {
        background: #007787;
        color: white;
        font-family: "semibold", sans-serif;
        border-bottom: 2px solid #00515c;
        text-shadow: 1px 1px 0px #00515c;
        text-align: center;
    }

    .interface-table tr:nth-child(even) td {
        background: white;
    }

    .interface-table p {
      white-space: pre-line;
    }

    .temp_dark {
      background: #e9e9e9 !important;
    }

    .temp_bright {
      background: white !important;
    }

    td.stickycol {
        position: -webkit-sticky;
        position: sticky;
        left: 0;
    }

    .interface-table caption {
      text-align: left;
      margin-bottom: 20px;
    }

    .interface-table tr:hover > td {
      background: #007787 !important;
      color: white;
      cursor: pointer;
    }

    select#status, select#public {
      font-family: "semibold", sans-serif;
      font-size: 12pt;
      color: white;
      width: 100%;
      padding-left: 10px;
      background-color: #00515c;
      border: none;
      cursor: pointer;
    }

    select {
      outline: none;
    }

    #applications-table {
      margin-bottom: 40px;
    }

/* #########################################*/

/* ################### interface applicant profile ###################*/

.applicant {
  background: #f0f0f0;
}

.applicant-info {
  width: 50%;
  float: left;
  padding: 10px 0 0 20px;
}

.applicant-images {
  width: 30%;
  float: right;
}

.applicant-images img {
  max-height: 100px;
  margin: 20px;
}

.applicant-controls {
  background: #f0f0f0;
  margin: 50px 0 30px 0;
  padding: 10px 20px 20px 20px;
}

.applicant-controls input {
  width: 100%;
}

#application-accept {
  float: left;
  font-size: 16pt;
  width: 49%;
  opacity: .5;
}

#application-accept:hover {
  opacity: 1;
}

#application-deny {
  background: #a50101;
  float: right;
  border-color: #580f0f;
  font-size: 16pt;
  width: 49%;
  opacity: .5;
}

#application-deny:hover {
  opacity: 1;
}


/* ################### hardware ###################*/
.netdata-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background: #f0f0f0;
    padding: 20px;
}

p.note-box {
  background: #f0f0f0;
  border-left: 5px solid #007787;
  padding: 20px;
}

p.note-box.margin-top {
  margin-top: 40px;
}

p.note-box.margin-bottom {
  margin-bottom: 40px;
}

/* ################### interface cms ###################*/

#post-editor input {
  background: white;
}

#post-preview .counter {
  float: none;
}

#post-body {
  margin-top: 20px;
}

/* ################### popup ###################*/
.popup-background {
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 60%;
  z-index: 1000;
  top: 0;
  left: 0;
  position: fixed;
}

.popup-foreground {
  z-index: 1001;
  position: fixed;
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  width: 500px;
  max-width: 100%;
  height: auto;
  top: 40%;
  left: 50%;
  margin-top: -200px;
  margin-left: -250px;
  box-sizing: border-box;
}

#popup-title {
  font-family: "semibold";
  color: #007787;
  font-size: 14pt;
}

#popup-head-title {
  float: left;
}

#popup-head-close {
  float: right;
}

button#popup-close {
  margin: 0 0 20px 0;
}

div#popup p {
  font-family: "regular";
}

div#confirmation-popup, div#info-popup {
  color: white;
  background: #007787;
  margin-top: 50px;
  padding: 5px;
}


/* ################### download section ###################*/

.img-download img {
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 5px rgba(52, 56, 56, .5);
  margin-top: 10px;
  vertical-align: bottom;
}

.img-download button {
  margin-top: 0;
  width: 100%;
}

div.worldsave:not(:last-child) {
  margin-bottom: 25px;
}

/* ################### faq ###################*/
p.faq {
  margin-bottom: 20px;
}

/* ################### zoom & pan feature ###################*/
#SVGContainer {
  position: relative;
}

#SVGContainer svg {
  vertical-align: bottom;
}

#controls {
    position: absolute;
    top: 10px;
    left: 10px;
}

#resetSVG:hover circle, #zoomin:hover circle, #zoomout:hover circle {
    fill: #00515c;
}

.toggle_controls {
  background: #e9e9e9;
}

/* ################### town pages ###################*/
article.town-screenies section {
  padding: 0;
  border: none;
}

article.town-screenies img {
  margin-bottom: 10px;
  vertical-align: bottom;
}

.town-shortcuts {
  margin-bottom: 20px;
}

.screenie-gallery {
  height: 400px;
  width: 100%;
  position: relative;
  background: #343838;
}

.town {
  margin-bottom: 50px;
}
