* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition-duration: .3s;
    list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

::selection {
    background: #00515c;
    color: #fff;
}

::-moz-selection {
    background: #00515c;
    color: #fff;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #e9e9e9;
}

::-webkit-scrollbar-thumb {
    background: #333;
}

::-webkit-scrollbar-thumb:hover {
    background: #030303;
}

@font-face {
    font-family: "semibold";
    src: url("../fonts/TitilliumWeb-SemiBold.ttf");
}

@font-face {
    font-family: "regular";
    src: url("../fonts/TitilliumWeb-Regular.ttf");
}

body {
    background: #f0f0f0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

button:focus {
    outline: none;
}

.visible {
    opacity: 1;
    visibility: visible;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.margin-top-20 {
  margin-top: 20px;
}

iframe {
  border: none;
}

img {
  max-width: 100%;
}

button {
    background: #007787;
    border: 1px solid #00515c;
    color: white;
    font-family: "semibold", sans-serif;
    font-size: 13pt;
    cursor: pointer;
    padding: 2px 15px;
    margin-top: 10px;
}

button.secondary {
  background: white;
  color: #343838;
  border: 1px solid #bebebe;
}

button.secondary:hover {
  background: #bebebe;
}

button.hover-right i {
    font-size: 10pt;
    margin-left: 5px;
}

button.hover-left i {
    font-size: 10pt;
    margin-right: 5px;
}

button:hover {
    background: #00515c;
}

button.hover-right:hover > i {
    margin-left: 10px;
}

button.hover-left:hover > i {
    margin-right: 10px;
}

.lesspadding section {
    padding: 0 0 0 2px;
}

/* #########################################*/

/* ################### main ###################*/

main h1 {
    background: #007787;
    color: white;
    font-family: "semibold", sans-serif;
    text-shadow: 1px 2px 0px #00515c;
    padding: 5px 0;
    font-size: 18pt;
    position: relative;
}

main h2 {
    color: #007787;
    font-family: "semibold", sans-serif;
    font-size: 18pt;
}

main h3 {
    color: #007787;
    font-family: "semibold", sans-serif;
    font-size: 14pt;
}

main p,
main ul {
    font-family: "regular", sans-serif;
    font-size: 12pt;
    line-height: 1.3;
    color: #222424;
}

main h1::before {
    content: "";
    border-style: solid;
    border-width: 0 30px 20px 0;
    border-color: transparent #00515c transparent transparent;
    position: absolute;
    left: 0px;
    top: 100%;
}

main h1::after {
    content: "";
    border-style: solid;
    border-width: 20px 30px 0px 0;
    border-color: #00515c transparent transparent transparent;
    position: absolute;
    right: 0px;
    top: 100%;
}

main a {
    color: #007787;
    font-family: "regular", sans-serif;
}

main a:hover {
    color: #00515c;
}
