@media screen and (max-width:999px) {

    .mobile-hide, header .dots, .dots,
    a.prev, a.next, img.author, #mapsection, .banner {
        display: none;
    }


    img#logo {
        width: 250px;
        height: auto;
        top: 50px;
        left: 10%;
    }

    .mySlides, .mySlides img, .header-height {
        height: 200px;
    }

    .mySlides::after {
        background-image: linear-gradient(135deg, rgba(0,0,0,.4) 0%, rgba(0,0,0,.4) 100%), linear-gradient(0deg, rgba(0,0,0,.6) 0%, transparent 5%, transparent 80%, rgba(0,0,0,.3) 100%);
    }

    #logoutbar {
        top: 55px;
    }


/* ############### nav ###############*/

.mobile-nav-height {
    height: 45px;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
}

#mobile-nav {
    display: none;
    width: 100%;
}

#mobile-nav.nav-fullscreen {
    display: block;
    height: 100vh;
    background: #00515c;
    overflow-y: scroll;
}

nav .nav-icon {
    padding: 10px 0 5px 20px;
    cursor: pointer;
    display: inline-block;
}

nav li {
    padding: 10px 25px;
    border-bottom: 1px solid #007687;
}

nav a .fa-chevron-right {
    font-size: 11pt;
    margin-left: 10px;
}

nav a.nav-active > .fa-chevron-right {
    transform: rotate(90deg);
}

nav li a {
    font-size: 16pt;
}

nav li#join {
    border: none;
    padding: 20px 30px;
    margin-bottom: 100px;
}

nav li ul li {
    font-size: 14pt;
    border: none;
}

nav li ul li i {
    font-size: 10pt;
}

.panel {
    max-height: 0;
    overflow: hidden;
    width: 100%;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 4px;
  background-color: white;
  margin: 6px 0;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-7px, 6px);
  transform: rotate(-45deg) translate(-7px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* #########################################*/

/* ############### main ###############*/

    main {
        width: 95%;
        margin: 30px auto;
    }

    .wrapper {
        width: calc(100% - 100px);
        margin: 0 auto;
    }

    .wrapper.content {
        background: white;
        padding: 10px 20px 30px 20px;
    }

/* #########################################*/

/* ############### news articles ###############*/

    article .article-img {
        margin: 20px auto;
        width: 300px;
        max-width: 100%;
        display: block;
        float: none;
    }

/* #########################################*/

/* ############### footer ###############*/

    footer span, footer a {
        display: block;
        width: 100%;
        text-align: center;
        padding: 5px 0;
    }

    footer .left, footer .right {
        float: none;
    }

/* #########################################*/

/* ############### join us ###############*/
    .tooltip .tooltiptext {
        top: 150%;
        left: -1300%;
    }

    .tooltip .tooltiptext::after {
        border-color: transparent transparent #222424 transparent;
        top: 0%;
        right: 4.5%;
        margin-top: -10px;
    }

/* #########################################*/

/* ############### our team, member stats ###############*/

.team-profile {
    margin: 50px 0;
    background-image: linear-gradient(to bottom, transparent 15% , #007787 40%);
    border-bottom: 5px solid #00515c;
    width: 100%;
    max-width: 400px;
}

.team-profile .avatar, .team-profile .tasks,
.team-profile .person {
    display: block;
}

.team-profile .avatar {
    text-align: center;
}

.team-profile .avatar h2 {
    margin: 0 auto;
}

.team-profile .tasks, .team-profile .person {
    width: 170px;
    padding: 20px;
    margin: 0 auto;
}

.member-profile .avatar {
    margin-top: 20px;
}

/* ################### interface application list ###################*/
#applications-table th, #applications-table td {
  display: none;
}

#applications-table th:nth-child(4), #applications-table td:nth-child(4),
#applications-table th:nth-child(6), #applications-table td:nth-child(6) {
  display: block;
  max-width: 100%;
  width: auto;
}


/* ################### interface applicant profile ###################*/

.applicant-info {
  width: 100%;
  float: none;
}

.applicant-images {
  width: 100%;
  float: none;
}

/* ################### our world ###################*/

.worlddesc-container {
    flex-wrap: wrap;
}

.world-explanation {
    width: 100%;
}

}


@media screen and (max-width:500px) {
/* ################## member list #####################*/
  .member-card-wrapper{
      background: #f0f0f0;
      margin: 0 0 20px 0;
      padding: 15px 0 10px 15px;
  }

  .member-card-image {
      display: none;
  }

  .member-card-description {
      width: 100%;
      padding: 0;
  }
}
