@import '_vars'

*
  margin: 0
  padding: 0
  text-decoration: none
  transition-duration: .3s

li
  list-style-type: none

html
  scroll-behavior: smooth
  overflow-x: hidden !important
  scrollbar-width: thin
  scrollbar-color: $pax-darkgray $pax-nearlywhite
  background: $pax-darkcyan

::selection
  background: rgba(0,0,0,.5)
  color: $pax-white

::-moz-selection
  background: rgba(0,0,0,.5)
  color: $pax-white

::-webkit-scrollbar
  width: 10px
  background-color: #e9e9e9

::-webkit-scrollbar-thumb
  background: #333
  &:hover
    background: #030303

@font-face
  font-family: "semibold"
  src: url("./TitilliumWeb-SemiBold.ttf")

@font-face
  font-family: "regular"
  src: url("./TitilliumWeb-Regular.ttf")

button
  background: $pax-cyan
  border: 1px solid $pax-darkcyan
  color: $pax-white
  font-family: "semibold", sans-serif
  font-size: 13pt
  cursor: pointer
  padding: 2px 15px
  margin-top: 10px
  &:hover
    background: $pax-darkcyan
  &:focus
    outline: none

button.secondary
  background: $pax-white
  color: $pax-darkgray
  border: 1px solid #bebebe
  &:hover
    background: #bebebe

button.hover-right:hover > i
  margin-left: 10px

button.hover-left:hover > i
  margin-right: 10px

h1, h2, h3, h4
  @extend .pax-semibold

h1
  @extend .pax-semibold
  text-align: center
  color: white
  font-size: 30pt
  text-shadow: 0px 0px 5px #102f36
  padding: 1%

h2
  background: $pax-cyan
  color: $pax-white
  text-shadow: 1px 2px 0px #00515c
  padding: 5px 0
  font-size: 18pt
  position: relative
  &::before, &::after
    content: ""
    border-style: solid
    position: absolute
    top: 100%
  &::before
    border-width: 0 30px 20px 0
    border-color: transparent $pax-darkcyan transparent transparent
    left: 0px
  &::after
    border-width: 20px 30px 0px 0
    border-color: $pax-darkcyan transparent transparent transparent
    right: 0px

h3
  color: $pax-cyan
  font-size: 14pt

p
  @extend .pax-p
  color: white
  font-size: 12pt

a
  color: white
  @extend .pax-semibold
  &:hover
    color: $pax-cyan

div.background
  background: $pax-cyan
  box-shadow: 0px 0px 25px #102f36
  width: 100vw

.hover
  filter: drop-shadow( 0px 0px 8px rgba(0, 0, 0, .7))
  @media screen and ($desktop)
    opacity: 0.9
    &:hover
      filter: drop-shadow( 0px 0px 16px rgba(0, 0, 0, .9))
      opacity: 1

.paxItem
  .headline
    @extend .pax-semibold
    background: $pax-white
    color: $pax-cyan
    margin-left: -30px
    font-size: 20pt
    padding: 0px 0px 15px 25px
    height: 32px
    position: relative
    white-space: nowrap
    width: 20vw
    &:before
      content: ""
      border-style: solid
      border-width: 0 30px 30px 0
      border-color: transparent #b8b8b8 transparent transparent
      position: absolute
      left: 0px
      top: 47px
  ul
    @extend .pax-regular
    background: #007787
    color: white
    padding: 10px 15px
    font-size: 14pt
    line-height: 1.5
    width: 100%
    li:before
      content: "▪"
      color: $pax-darkcyan
      padding-right: 5px