@import '_vars'

*
  margin: 0
  padding: 0
  text-decoration: none
  transition-duration: .3s

li
  list-style-type: none

html
  scroll-behavior: smooth
  overflow-x: hidden !important
  scrollbar-width: thin
  scrollbar-color: $pax-darkgray $pax-nearlywhite
  background: $pax-darkcyan
  position: relative


::selection
  background: rgba(0,0,0,.5)
  color: $pax-white

::-moz-selection
  background: rgba(0,0,0,.5)
  color: $pax-white

::-webkit-scrollbar
  width: 10px
  background-color: #e9e9e9

::-webkit-scrollbar-thumb
  background: #333
  &:hover
    background: #030303

@font-face
  font-family: "bold"
  font-display: swap
  src: url("./TitilliumWeb-Bold.ttf")

@font-face
  font-family: "semibold"
  font-display: swap
  src: url("./TitilliumWeb-SemiBold.ttf")

@font-face
  font-family: "regular"
  font-display: swap
  src: url("./TitilliumWeb-Regular.ttf")

button
  background: $pax-yellow
  box-shadow: 0px 5px 0px $pax-darkmodecyan1
  color: $pax-black
  font-family: "bold", sans-serif
  font-size: 13pt
  cursor: pointer
  padding: 3px 15px
  border-style: none
  border-radius: 100px
  &:hover
    transform: scale(1.1)
    
  &:focus
    outline: none

button.secondary
  background: $pax-white
  color: $pax-darkgray
  border: 1px solid #bebebe
  &:hover
    background: #bebebe

button.hover-right:hover > i
  margin-left: 10px

button.hover-left:hover > i
  margin-right: 10px

h2, h3, h4
  @extend .pax-semibold

h1
  @extend .pax-bold
  text-align: center
  color: $pax-darkmodecyan1
  background: $pax-cyan
  width: 100%
  font-size: 20pt
  text-transform: uppercase
  padding: 8px 0
  margin: 50px 0 20px 0

h2
  background: $pax-cyan
  color: $pax-white
  text-shadow: 1px 2px 0px #00515c
  padding: 5px 0
  font-size: 18pt
  position: relative
  &::before, &::after
    content: ""
    border-style: solid
    position: absolute
    top: 100%
  &::before
    border-width: 0 30px 20px 0
    border-color: transparent $pax-darkcyan transparent transparent
    left: 0px
  &::after
    border-width: 20px 30px 0px 0
    border-color: $pax-darkcyan transparent transparent transparent
    right: 0px

h3
  color: $pax-cyan
  font-size: 14pt

p
  @extend .pax-p
  color: white
  font-size: 12pt

a
  color: white
  @extend .pax-semibold
  &:hover
    color: $pax-cyan

div.background
  background: $pax-cyan
  box-shadow: 0px 0px 25px #102f36
  width: 100%
  @media screen and ($mobile)
    width: 100vw

.paxItem
  .headline
    @extend .pax-semibold
    background: $pax-darkmodecyan1
    color: $pax-white
    font-size: 16pt
    padding: 8px 0px 8px 20px
    height: 32px
    position: relative
    white-space: nowrap
    width: 20vw
    text-transform: uppercase
  ul
    @extend .pax-regular
    background: $pax-darkestcyan
    color: white
    padding: 10px 15px
    font-size: 12pt
    line-height: 1.5
    width: 100%
    border-left: 5px solid $pax-darkmodecyan1
    li:before
      content: "▪"
      color: $pax-darkcyan
      padding-right: 5px
      
ol
  @extend .pax-regular
  background: $pax-darkestcyan
  color: white
  padding: 10px 15px
  font-size: 12pt
  line-height: 1.5
  width: 100%
  border-left: 5px solid $pax-darkmodecyan1
  list-style-type: none
  li
    counter-increment: step-counter
    margin: 0 0 10px 15px
    position: relative
    &::before
      content: counter(step-counter)
      position: absolute
      margin-left: -32px
      font-size: 80%
      background-color: $pax-darkmodecyan1
      color: white
      font-weight: bold
      padding: 3px 8px

.scrollTarget
  scroll-margin-top: 60px

input
  @extend .pax-regular
  padding: 10px 5px 5px 5px
  border: none
  border-bottom: 1px solid #bebebe
  width: 100%
  font-size: 12pt
  margin: 1% 0 1% 0
  background: transparent
  &:focus
    outline: none
    box-shadow: 0px 0px 15px #102f36
  &::placeholder
    color: white
    opacity: 1
  @media screen and ($mobile)
    width: 90vw
    padding-left: 0
    padding-right: 0

textarea
  width: 100%
  height: 250px
  margin-bottom: 1%
  resize: vertical
  padding: 5px
  outline: none
  border: 2px solid white
  &:focus
    border: 2px solid $pax-darkcyan
    box-shadow: 0px 0px 15px #102f36
  @media screen and ($mobile)
    width: 85vw

label:not(.checkmarkContainer)
  position: absolute
  top: -5px
  left: 0
  font-size: 14px
  opacity: 0
  &.container
    position: relative
    opacity: 1
    font-size: 12pt
    color: #1a1a1a
    font-weight: normal
    @extend .pax-regular
    color: white

.checkmarkContainer
  display: block
  padding-left: 35px
  cursor: pointer
  font-size: 22px
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  margin: 20px 0 10px 0
  &:hover input ~ .checkmark
    background-color: #bebebe
  input:checked ~ .checkmark
    background-color: $pax-cyan
    border-color: $pax-darkcyan
  .label
    @extend .pax-p
    color: white
    font-size: 12pt
  input
    position: absolute
    opacity: 0
    cursor: pointer
    height: 0
    width: 0
    &:checked ~ .checkmark:after
      display: block
  .checkmark
    position: absolute
    left: 25px
    height: 25px
    width: 25px
    background-color: $pax-gray
    border: 1px solid #bebebe
    border-radius: 7px
    &:hover
      box-shadow: 0px 0px 15px #102f36
    &:after
      content: ""
      position: absolute
      display: none
      left: 9px
      top: 5px
      width: 5px
      height: 10px
      border: solid $pax-white
      border-width: 0 3px 3px 0
      -webkit-transform: rotate(45deg)
      -ms-transform: rotate(45deg)
      transform: rotate(45deg)



table
  @extend .pax-regular
  border-collapse: separate
  border-spacing: 0px
  width: 60%
  white-space: nowrap
  left: 20%
  position: relative
  @media screen and ($mobile)
    width: 100vw
    left: 0

th
  background: $pax-cyan
  color: $pax-white
  @extend .pax-semibold
  border-bottom: 2px solid $pax-darkcyan
  text-shadow: 1px 1px 0px $pax-darkcyan
  text-align: center
  font-size: 16pt
tr
  &:nth-child(even) td
    background: $pax-cyan
  &:nth-child(odd) td
    background: $pax-darkcyan
  &:hover
    cursor: pointer
    @media screen and ($desktop)
      scale: 1.02
      transition-duration: 0.05s
td
  padding: 3px 10px
  background: #e9e9e9
  font-size: 12pt
  text-overflow: ellipsis
  white-space: inherit
  overflow: hidden
  color: $pax-black
  max-width: 150px
  text-align: center
  color: white

.desktopOnly
  @media screen and ($mobile)
    display: none